# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bookinfo/\.settings/

bookinfo/\.project

bookinfo-auth-server/\.settings/

bookinfo-auth-server/target/

bookinfo-auth-server/\.classpath

bookinfo-auth-server/\.project

bookinfo-book-service/\.settings/

bookinfo-book-service/target/

bookinfo-book-service/\.classpath

bookinfo-book-service/\.project

bookinfo-gateway/\.settings/

bookinfo-gateway/target/

bookinfo-gateway/\.classpath

bookinfo-gateway/\.project

bookinfo-registry/\.settings/

bookinfo-registry/target/

bookinfo-registry/\.classpath

bookinfo-registry/\.project

bookinfo-security-client/\.settings/

bookinfo-security-client/target/

bookinfo-security-client/\.classpath

bookinfo-security-client/\.project

bookinfo-user-service/\.settings/

bookinfo-user-service/target/

bookinfo-user-service/\.classpath

bookinfo-user-service/\.project

bookinfo-service-review/\.settings/

bookinfo-service-review/target/

bookinfo-service-review/\.classpath

bookinfo-service-review/\.project
